/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap"); /* Project titles */

/* COLORS */
:root {
  --link-hover: rgb(182, 182, 182);
}

/* GENERAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.wrapper {
  padding: 2rem 0;
  margin: 0 2rem;
}
body {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
/* For highlighting text on selection */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: tomato;
  background: #ff6347;
}
::selection {
  color: white;
  background: tomato;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-weight: 400;
  font-size: 4rem;
}
h2 {
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1rem;
  line-height: 1.3rem;
}
p {
  line-height: 1.4rem;
}

/* HEADER */
header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}
header h1 {
  color: black;
  animation: 4s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  75% {
    opacity: 0.7;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
header div.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  box-shadow: rgba(171, 171, 171, 0.45) 0px 20px 20px -20px;
  padding: 1rem 0;
}
header div.wrapper > div {
  margin-right: 8rem;
}
header div.wrapper > div p {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 4px;
  margin-top: -1rem;
}
header nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}
header a {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--link-hover);
}
header a:not(:last-child) {
  margin-right: 10rem;
}
nav a:hover {
  color: black;
  font-weight: 400;
}

/* HOME */
.hero__slider {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__slider img,
.hero__slider > div {
  height: 100%;
}
.hero__slider img {
  object-fit: cover;
  width: 100%;
}
.arrow {
  position: absolute;
  cursor: pointer;
}
.arrow-left {
  left: 4rem;
}
.arrow-right {
  right: 4rem;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
}

/* ABOUT */
.about span {
  font-weight: 700;
  font-size: 1rem;
}
.about a {
  font-weight: 400;
  color: #ff6347;
  text-decoration: underline;
}
.about > div {
  display: flex;
}
.about > div div {
  flex: 1;
}
div.about__photo {
  margin-right: 2rem;
}
div.about__photo > div:first-child {
  background-color: tomato;
  box-sizing: border-box;
  height: 75%;
  margin-bottom: 1rem;
}
div.about__photo > div:first-child > div {
  display: flex;
  height: calc(100% / 3 - 0.3rem);
}
div.about__photo > div:first-child > div:not(:last-child) {
  margin-bottom: 0.5rem;
}
div.about__photo > div:first-child > div > div {
  border: 1px solid blue;
}
div.about__photo > div:first-child > div > div:nth-child(2n) {
  margin: 0 0.5rem;
}
div.about__skills {
  display: flex;
}
div.about__skills h3 {
  color: tomato;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
div.about__name {
  line-height: 2rem;
  margin-bottom: 2rem;
}
div.about__infos > div:first-child p:not(:last-child) {
  margin-bottom: 1rem;
}
div.about__infos > div:nth-child(2) {
  margin: 2rem 0;
  text-align: center;
}
div.about__infos > div:nth-child(2) div {
  margin-top: 2rem;
}
div.about__infos > div:nth-child(2) div p {
  line-height: 2rem;
}
div.about__infos > div:last-child {
  text-align: end;
}
.about__tag {
  display: flex;
  overflow: hidden;
  transform: translateY(0%);
  margin: 2rem 0;
}
.about__tag span {
  font-size: 4rem;
}
.tag {
  white-space: nowrap;
  animation: scollTag 20s linear infinite;
  color: tomato;
}
@keyframes scollTag {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* PROJECTS */
.projects nav {
  display: flex;
  padding-bottom: 1rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}
.projects nav span {
  cursor: pointer;
}
.projects nav span:not(:last-child) {
  margin-right: 6rem;
}
.projects__grid {
  display: flex;
  flex-wrap: wrap;
}
.projects__grid > a:not(:nth-child(3n)) {
  margin-right: 0.5rem;
}
.project__card {
  margin-bottom: 0.5rem;
  height: 22rem;
  width: calc((100% - 1rem) / 3);
  position: relative;
}
.project__card h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  /* font-family: "Libre Barcode 39 Text", cursive; */
  font-weight: 700;
}
.project__card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
}
.project__card-img-hover {
  position: absolute;
}
.project__card-img-hover:hover {
  display: none;
}
.project__card > div {
  width: 100%;
  height: 15%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
.project__title {
  background-color: black;
  color: white;
  padding: 2rem 0;
  margin-top: -2rem;
  text-align: center;
}
.links-logo {
  width: 26px;
  margin: 1.5rem 0;
}
.netlify {
  margin-left: 1rem;
}
.project__techno {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.project__techno span {
  border: 1px dotted tomato;
  color: tomato;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 3px;
}
.project__techno span:not(:last-child) {
  margin-right: 1rem;
}
.project__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__links > div {
  display: flex;
  align-items: center;
}
.project__intro {
  display: flex;
}
.project__intro > div {
  width: 50vw;
  border: 1px dotted blue;
}
.project__intro > div:first-child {
  margin-right: 1rem;
}

/* ARTICLES */
.articles__intro {
  margin: 2rem 0 4rem 0;
}
.articles__list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
.articles__list > div > p:not(:last-child) {
  margin-bottom: 1rem;
}
.articles__list a {
  text-decoration: underline;
}
.articles__list a:hover {
  color: tomato;
}
.articles__list-by-category > div {
  margin-bottom: 2rem;
}
.articles__list-by-category > div p {
  line-height: 2rem;
}
.articles__list-by-category h3 {
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.articles__next {
  margin-bottom: 3rem;
}

/* FOOTER */
footer div.wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid black;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: var(--link-hover);
}
footer div.footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-left: 8rem;
  text-transform: uppercase;
}
footer div.footer__infos p:first-child {
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
footer div.footer__infos p:last-child {
  font-size: 0.8rem;
  margin-top: 1rem;
}
footer div.footer__social div {
  margin-left: 2rem;
}
footer div.footer__social div a:not(:last-child) {
  margin-right: 2rem;
}
