/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"); /* Title */

/* COLORS */
:root {
  --link-hover: rgb(182, 182, 182);
}

/* GENERAL */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.wrapper {
  padding: 2rem 0;
  margin: 0 2rem;
}
body {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-weight: 400;
  font-size: 4rem;
}
h2 {
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1rem;
  line-height: 1.3rem;
}
p {
  line-height: 1.4rem;
}

/* HEADER */
header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}
header h1 {
  color: black;
  animation: 4s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: translateY(0%);
  }
  75% {
    opacity: 0.7;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
header div.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  box-shadow: rgba(171, 171, 171, 0.45) 0px 20px 20px -20px;
  padding: 1rem 0;
}
header div.wrapper > div {
  margin-right: 8rem;
}
header div.wrapper > div p {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 4px;
  margin-top: -1rem;
}
header nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}
header a {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--link-hover);
}
header a:not(:last-child) {
  margin-right: 10rem;
}
nav a:hover {
  color: black;
  font-weight: 400;
}

/* HOME */
/* --- Hero --- */
.hero__slider {
  background-color: tomato;
  height: 70vh;
}

/* ABOUT */
.about span {
  font-weight: 700;
  font-size: 1rem;
}
.about a {
  font-weight: 400;
  color: #ff6347;
  text-decoration: underline;
}
.about > div {
  display: flex;
}
.about > div div {
  flex: 1;
}
div.about__photo {
  margin-right: 2rem;
}
div.about__photo > div:first-child {
  background-color: tomato;
  box-sizing: border-box;
  height: 75%;
  margin-bottom: 1rem;
}
div.about__photo > div:first-child > div {
  display: flex;
  height: calc(100% / 3 - 0.3rem);
}
div.about__photo > div:first-child > div:not(:last-child) {
  margin-bottom: 0.5rem;
}
div.about__photo > div:first-child > div > div {
  border: 1px solid blue;
}
div.about__photo > div:first-child > div > div:nth-child(2n) {
  margin: 0 0.5rem;
}
div.about__skills {
  display: flex;
}
div.about__skills h3 {
  color: tomato;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
div.about__name {
  line-height: 2rem;
  margin-bottom: 2rem;
}
div.about__infos > div:first-child p:not(:last-child) {
  margin-bottom: 1rem;
}
div.about__infos > div:nth-child(2) {
  margin: 2rem 0;
  text-align: center;
}
div.about__infos > div:nth-child(2) div {
  margin-top: 2rem;
}
div.about__infos > div:nth-child(2) div p {
  line-height: 2rem;
}
div.about__infos > div:last-child {
  text-align: end;
}
.about__tag {
  display: flex;
  overflow: hidden;
  /* width: 100%; */
  /* position: absolute;
  top: 40%; */
  transform: translateY(0%);
  margin: 2rem 0;
}
.about__tag span {
  font-size: 4rem;
}
.tag {
  white-space: nowrap;
  animation: scollTag 20s linear infinite;
  color: tomato;
}
@keyframes scollTag {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* PROJECTS */
.projects nav {
  display: flex;
  padding-bottom: 1rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}
.projects nav span {
  cursor: pointer;
}
.projects nav span:not(:last-child) {
  margin-right: 6rem;
}
.projects__grid {
  display: flex;
  flex-wrap: wrap;
}
.projects__grid > div {
  width: calc((100% - 1rem) / 3);
  border: 1px solid black;
  cursor: pointer;
}
.projects__grid > div:not(:nth-child(3n)) {
  margin-right: 0.5rem;
}
.project__card {
  margin-bottom: 0.5rem;
  height: 18rem;
  position: relative;
}
.project__card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project__card > div {
  position: absolute;
  top: calc(50% - 1rem);
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  text-transform: uppercase;
  z-index: 10;
  font-size: 2rem;
  font-weight: 700;
}

/* FOOTER */
footer div.wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid black;
}
footer a {
  text-decoration: underline;
}
footer a:hover {
  color: var(--link-hover);
}
footer div.footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-left: 8rem;
  text-transform: uppercase;
}
footer div.footer__infos p:first-child {
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
footer div.footer__infos p:last-child {
  font-size: 0.8rem;
  margin-top: 1rem;
}
footer div.footer__social div {
  margin-left: 2rem;
}
footer div.footer__social div a:not(:last-child) {
  margin-right: 2rem;
}
